@model IEnumerable<Team>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}


    <section class="content">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New Team</a>
        </p>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Team List</h3>
            </div>


            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th>team_name</th>
                        <th>email</th>
                        <th>club</th>
                        <th>sport</th>
                        <th>coaches</th>
                        <th>competition</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.team_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.club)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sport)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.coaches)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.competition)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.id">Edit</a>
                                <a asp-action="Details" class=" btn btn-info" asp-route-id="@item.id">Details</a>
                                <a asp-action="Delete" class=" btn btn-danger" asp-route-id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </section>



