@model ProCoach.Data.practice_session

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>practice_session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.team_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.coach_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.coach_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
